doctype html
html(lang="ua")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="author", content="Oleksandr Zadorozhnii")
        title Testing RGB
        link(rel="stylesheet", href="css/style.css")
    body.w-full
        div(class="flex justify-center w-full")
            div(class="w-1/4 flex flex-col items-start bg-leftBox pt-6")
                div(class="text-2xl font-black pl-10")
                    span Logo
                    span(class="text-activeColor") FX
                a(href="#", class="links-width active-link color-active flex justify-start items-center mt-2.5 py-2")
                    img(src="img/dashboard.svg", class="w-[15px] h-[15px] mr-2.5")
                    span(class="text-sm font-medium") Dashboard
                a(href="#", class="links-width flex justify-start items-center mt-2.5 py-2 pl-10")
                    img(src="img/account.svg", class="w-[15px] h-[15px] mr-2.5")
                    span(class="text-sm font-mediu") Open Account
                a(href="#", class="links-width flex justify-start items-center mt-2.5 py-2 pl-10")
                    img(src="img/deposit.svg", class="w-[15px] h-[15px] mr-2.5")
                    span(class="text-sm font-mediu") Deposit & Withdraw
                a(href="#", class="links-width flex justify-start items-center mt-2.5 py-2 pl-10")
                    img(src="img/trading.svg", class="w-[15px] h-[15px] mr-2.5")
                    span(class="text-sm font-mediu") Trading History
                a(href="#", class="links-width flex justify-start items-center mt-2.5 py-2 pl-10")
                    img(src="img/partnership.svg", class="w-[15px] h-[15px] mr-2.5")
                    span(class="text-sm font-mediu") IB Partnership
                a(href="#", class="links-width flex justify-start items-center mt-2.5 py-2 pl-10")
                    img(src="img/investments.svg", class="w-[15px] h-[15px] mr-2.5")
                    span(class="text-sm font-mediu") Investments & Fund Mgmt
                div.line 
            div(class="w-3/4 flex flex-col items-start")
                div(class="header-width flex justify-between items-center bg-header py-4 pl-10 pr-7")
                    div(class="flex justify-between items-center w-5/12")
                        button(class="btn-header") Go Live
                        a(href="#", class="flex justify-center items-center space-x-3")
                            img(src="img/download.svg", class="w-[18px] h-[18px]")
                            span(class="font-semibold") Download Terminal
                        a(href="#", class="flex justify-center items-center space-x-3")
                            img(src="img/support.svg", class="w-[18px] h-[18px]")
                            span(class="font-semibold") Support
                    div(class="w-2/6 flex justify-between items-center")
                        a(href="#")
                            img(src="img/theme.svg", class="w-[18px] h-[18px]")
                        a(href="#")
                            img(src="img/flag.svg", class="w-[18px] h-[18px]")
                        a(href="#", class="relative flex justify-center items-center")
                            img(src="img/dure.svg", class="w-[18px] h-[18px]")
                            div(class="absolute top-m5 right-m5 w-3.5 h-3.5 bg-notification border-0 rounded-full text-white font-semibold text-2xs flex justify-center items-center")
                                span 2
                        div(class="flex justify-center items-center")
                            div(class="w-8 h-8 bg-sphere border-0 rounded-full text-white text-xs font-semibold flex justify-center items-center mr-2.5")
                                span A
                            a(href="#", class="flex flex-col items-start")
                                span(class="font-semibold text-firstChild") Artem Zhushman
                                span(class="font-semibold text-lastChild") Retail
                div(class="flex flex-col justify-center items-center pt-5 bg-main")
                    div(class="flex justify-center items-center")
                        div(class="left-width h-32 mr-6 bg-white border-0 rounded-xl")
                            p(class="text-firstChild mt-5 mx-5 font-semibold text-lg") Thank you for opening an account with Kenmore Fx
                            p(class="text-lastChild mt-2.5 mx-5 font-normal") Complete account management at your fingertips: from downloads, electronic deposits and withdrawals, to advanced partnership automation and analytics. Start by downloading our Trading Terminal for your computer and making a deposit.
                        div(class="right-width h-32 flex justify-between items-center bg-white border-0 rounded-xl")
                            div(class="text-firstChild my-5 ml-5 flex flex-col items-start justify-center")
                                p(class="text-lg font-semibold") Alerts
                                p(class="mt-2 text-lastChild") Its a good! You don’t have alerts
                                button(class="btn-main") Make a Deposit
                            img(src="img/warning.svg", class="h-full")
                    div(class="w-full")
                        img(src="img/graph.svg", class="w-full")
                        p(class="mt-2.5 px-7.5 text-lastChild") Risk Warning Note: Forex and CFDs are leveraged products, incur a high level of risk and may not be suitable for all investors. You should not risk more than you are prepared to lose. Before deciding to trade, please ensure you understand the risks involved and take into account your level of experience. Seek independent advice if necessary.
                        p(class="mt-2.5 px-7.5 text-lastChild") © 2020 Copyright KenmoreFX Inc. 2010-2020 All rights reserved. Various trademarks held by their respective owners.
                        p(class="px-7.5 text-lastChild") One Financial Center, Suite 1000, Boston, MA, 02111, United States
                    