doctype html
html(lang="ua")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="author", content="Oleksandr Zadorozhnii")
        title Testing RGB
        link(rel="stylesheet", href="css/main.min.css")
    body
        .container
            .left-box
                .logo
                    span.first-logo Logo
                    span.second-logo FX
                a(href="#").active-link.color-active
                    img(src="img/dashboard.svg")
                    span Dashboard
                a(href="#")
                    img(src="img/account.svg")
                    span Open Account
                a(href="#")
                    img(src="img/deposit.svg")
                    span Deposit & Withdraw
                a(href="#")
                    img(src="img/trading.svg")
                    span Trading History
                a(href="#")
                    img(src="img/partnership.svg")
                    span IB Partnership
                a(href="#")
                    img(src="img/investments.svg")
                    span Investments & Fund Mgmt
                .line 
            .right-box
                .header
                    .left
                        button.btn Go Live
                        a(href="#")
                            img(src="img/download.svg")
                            span Download Terminal
                        a(href="#")
                            img(src="img/support.svg")
                            span Support
                    .right
                        a(href="#")
                            img(src="img/theme.svg")
                        a(href="#")
                            img(src="img/flag.svg")
                        a(href="#")
                            img(src="img/dure.svg")
                        div
                            .sphere
                                span A
                            div
                                span Artem Zhushman
                                span Retail
                .container
                    .box
                        .left
                            p.first Thank you for opening an account with Kenmore Fx
                            p.second Complete account management at your fingertips: from downloads, electronic deposits and withdrawals, to advanced partnership automation and analytics. Start by downloading our Trading Terminal for your computer and making a deposit.
                        .right
                            div
                                p.first Alerts
                                p.second Its a good! You don’t have alerts
                                button.btn Make a Deposit
                            img(src="img/warning.svg")
                    .graph
                        //- img(src="img/graph.svg", alt="")
                    