@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Avenir Next Variable';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/2729/AvenirNext_Variable.ttf') format('truetype');
}

@layer base {
    * {
        margin: 0;
        padding: 0;
    }
    body {
        background: #F8F8F8;
        font-family: "Avenir Next Variable", sans-serif;
        font-size: 12px;
    }
    a {
        color: #16113D;
        text-decoration: none;
    }
    .color-active {color: #4D49B4}
    .links-width {width: calc(100% - 40px)}
    .header-width {width: calc(100% - 65px)}
    .active-link {
        padding-left: 36px;
        border-left: 4px solid #4D49B4;
    }
    .line {
        width: calc(100% - 40px);
        margin: 70px 20px 0 20px;
        border-bottom: 1px solid #F2F2F2;
    }
    .btn-header {
        width: 114px;
        height: 32px;
        border-radius: 8px;
        border: none;
        background: #4D49B4;
        color: #fff;
        font-size: 12px;
        font-weight: 600;
        line-height: 16.8px;
    }
    .top-m5 {top: -5px}
    .right-m5 {right: -5px}
    .text-2xs {font-size: 10px}
    .left-width {width: calc(55% - 20px)}
    .right-width {width: calc(45% - 60px)}
    .btn-main {
        width: 135px;
        height: 32px;
        margin-top: 10px;
        border: none;
        border-radius: 8px;
        background: #4D49B4;
        color: #fff;
        font-size: 12px;
        font-weight: 400;
        line-height: 16.8px;
    }
    .px-7\.5 {
        padding-left: 30px;
        padding-right: 30px;
    }
}